#product_header {
  margin-left: 2em;
  margin-bottom: -1em;
  color: #845bad;
  font-family: "Nobile", Helvetica, Arial, sans-serif;
}

.inline_text {
    display: inline-block;
    vertical-align: top;
}

.header_fixed {
  position: fixed;
}


.update_input {
    float: left;
    margin: 0;
    padding: 0;
}

.update_p {
    margin: 0;
    padding: 0;
    float:left;
    white-space: nowrap;
}

.margin_bottom {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}